<div id="app_<%= app['id'] %>_modal" class="modal">
  <div class="modal-content">
    <div class="close"><i class="fa fa-times"></i></div>
    <div class="modal-content-body">

      <div class="app_icon">
        <img src="<%= app['icon_url_small'] %>" alt="">
      </div>
      <p>
        <%= app['label'] %>
      </p>
      <p>
        <%= app['description'] %>
      </p>

    </div>
  </div>
</div>
