<div class="col-4 col-6-sm">
  <div class="index_app">
    <div class="app_icon">
      <img src="<%= app['icon_url_small'] %>" alt="">
    </div>
    <div class="app_text">
      <div class="app_label">
        <%= app['label'] %>
      </div>
    </div>
  </div>
</div>
