<div class="section">
  <div class="row">
    <p><a href="/" class="home_button">Home</a></p>
    <h3>Apps</h3>
    <% @apps.each do |app| %>
      <%= erb :_app, locals: { app: app } %>
    <% end %>
    <%= 'None' if @apps.empty? %>
  </div>
</div>
