<div id="page">

  <div class="section" id="home">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4>Community Edition</h4>
          <p>
            Engines Community Edition is ideal for
            self-supported and
            home-based systems.
          </p>
        </div>
        <div class="col-6">
          <div id="main_image_wrapper">
            <img src="/assets/images/black_blue_server.png" class="main_image">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section contrasting_colors" id="overview">
    <div class="container">
      <div class="row summary-icons">
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-hdd-o"></i><br>
            <small>Run your<br>own server</small>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-smile-o"></i><br>
            <small>Free<br>forever</small>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-code-fork"></i><br>
            <small>Open<br>source</small>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <p>
            Run software in your own environment.
            Have complete control
            over your applications and their data.
          </p>

          <p>
            Self-host web applications
            and network services.
            Run blogs,
            databases, media servers, file servers,
            game servers, device backup services,
            and more.
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="section contrasting_colors" id="user_stories">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="carousel_arrows user_stories_carousel_arrows">
            <div class="fa fa-arrow-left carousel_arrow user_stories_carousel_arrow_left"></div>
            <div class="fa fa-arrow-right carousel_arrow user_stories_carousel_arrow_right"></div>
          </div>

          <div class="user_stories_carousel">
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/mimi.jpg'></img>
                Mimi is a photographer. She uses Engines to run her portfolio website, albums and file storage.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/marty.jpg'></img>
                Marty has a seriously geeked-out digital home. He is using Engines to run a home automation server and security system.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/william.jpg'></img>
                William uses Engines to run a sports team app for his basketball team. It helps the coach and players keep organised and engaged.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/justin.jpg'></img>
                Justin and Valerie use Engines for development, testing and deployment of student projects.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/susan.jpg'></img>
                Susan is passionate about fitness. Her personal server logs her biometrics and helps her analyse her progress.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/mason.jpg'></img>
                Mason says that he's being watched. He's feeling a lot calmer now that Engines allows him to run a VPN to a personal VM, to keep his information secure.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          &nbsp;
        </div>

      </div>
    </div>
  </div>

  <div class="section small_text" id="install">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>Installing Engines</h4>
          <p>Use a dedicated computer with at least 2GB RAM and 40GB available disk space.</p>
          <p>The machine should be running a fresh and updated version
             of Ubuntu Server
            (<a href="http://www.ubuntu.com/download/server"
                target= "engines_linux">18.04 LTS</a> is recommended).</p>
          <p>Login to your computer and enter</p>
          <pre class="wrap_line">curl www.engines.org/install | bash</pre>
          <p>You may need to enter your computer's admin password to start the installation.
            You may be prompted to set a timezone. The installer will take about half an hour to run.</p>
          <p>The URL that you will use to access your
             Engines web interface will appear at the end of the process. Open
             a web browser, enter the URL and complete the setup wizard. You'll then be ready to install applications.</p>

          <h5>Uninstall</h5>
          <p>
            To remove Engines, enter the command
          </p>
          <pre class="wrap_line">curl www.engines.org/uninstall | bash</pre>
        </div>
        <div class="col-12">
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="section contrasting_colors">
    <div class="container">
      <div class="row">
        <div class="col-12 medium_text">

          <p><em>
            Self-hosting gives you more control,
            greater flexibility and better
            privacy.
          </em></p>

        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 small_text">

          <p>
            Engines Community Edition is released under Apache License Version 2.0
          </p>

        </div>
      </div>
    </div>
  </div>

</div>
