<div class="row">
  <div class="section">
    <p><a href="/" class="home_button">&#8962; Home</a></p>

    <h3>Install</h3>

    <div class="prerelease_alert">
      The current release of Engines is a beta version. It is provided as is and without warranty.
    </div>


    <p>Install Engines on a dedicated computer with at least 2GB RAM and 40GB available disk space.
      The machine should be running a fresh and updated version of Linux
      (<a href="http://www.ubuntu.com/download/server"
          target= "engines_linux">Ubuntu Server 16.04 LTS</a> is recommended).</p>

    <p>Login to your computer and enter...</p>
    <pre>curl engines.org/install | bash</pre>

    <p class="top-gap">
      You may need to enter your computer's admin password to start the installation.
      You will be prompted to set a timezone. The installer will take about
       half an hour to run. The URL that you will use to access your
       Engines web interface will appear at the end of the process.</p>
    <p>Open a web browser, enter the URL and complete the setup wizard. You'll then be ready to install applications.</p>

    <strong>Advanced</strong>
    <p>Technical installation instructions, and a guide on how to install on AWS, can be found on the
      <a href="https://github.com/EnginesOS/System/wiki/Installation" target="engines_github">Engines GitHub page</a>.
    </p>
    <strong>Uninstall</strong>
    <pre>curl engines.org/uninstall | bash</pre>
  </div>


</div>
