<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Engines</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/stylesheets/loading.css">

  <script type="text/javascript" src="assets/javascripts/vendor/jquery-3.2.0.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/loading.js"></script>

</head>

<%= yield %>

</html>
