<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Engines</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/stylesheets/loading.css">

  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="assets/stylesheets/modal.css"> -->

</head>
<%= yield %>

<link rel="stylesheet" type="text/css" href="assets/stylesheets/vendor/jquery.fullPage.css">
<link rel="stylesheet" type="text/css" href="assets/stylesheets/vendor/slick.css">
<link rel="stylesheet" type="text/css" href="assets/stylesheets/vendor/slick-theme.css">
<link rel="stylesheet" href="assets/stylesheets/vendor/grid.css">
<link rel="stylesheet" href="assets/stylesheets/application.css">

<script type="text/javascript" src="assets/javascripts/vendor/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="assets/javascripts/vendor/scrolloverflow.min.js"></script>
<script type="text/javascript" src="assets/javascripts/vendor/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="assets/javascripts/vendor/slick.min.js"></script>
<script type="text/javascript" src="assets/javascripts/application.js"></script>

</html>
