<div id="page">

  <div class="section" id="home">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4>Partner Program</h4>
          <p>
            The Engines Partner Program is for those that use
            Engines licenses with third-party clients.
          </p>
        </div>
        <div class="col-6">
          <div id="main_image_wrapper">
            <img src="/assets/images/networked_world.png" class="main_image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section contrasting_colors" id="overview">
    <div class="container">
      <div class="row summary-icons">
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-sitemap"></i><br>
            <small>Power your<br>platform</small>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-th"></i><br>
            <small>Private<br>libraries</small>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-laptop"></i><br>
            <small>Remote<br>management</small>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <p>Engines lets you remotely manage systems from a common
            GUI. You can own and operate Engines systems on your
            account for your clients, or get authority from clients to
            manage systems that are owned by them.</p>
          <p>And you can connect your own software library, which means
            that you
            can have control over how software, particularly proprietary
            and custom software, is delivered to your clients.</p>

          <div id="code_background_icon">
            <i class="fa fa-code"></i>
          </div>
          <h4>Developers</h4>
          <p>There are many use cases where self-hosting
            software would make sense for your users, yet the
            burden of managing the server environment gets in the way.</p>
          <p>Engines can help. Our mission is to get your software
            into the hands of more users by lowering the technical
            hurdles faced by those that want to self-host.</p>

          <div id="code_background_icon">
            <i class="fa fa-power-off"></i>
          </div>
          <h4>Integrators</h4>
          <p>SAAS is not always the best model for you or your clients.
            Engines allows self-hosting to be a more viable option,
            so that your business can deliver something different
            and better: self-hosting without the hassle.</p>
          <p>Engines lets you give your clients what is best for
            them, in a way that allows you to maintain direct
            relationships across a scalable client-base.</p>

        </div>
        <div class="col-12">
          &nbsp;
        </div>


      </div>
    </div>
  </div>



  <div class="section contrasting_colors" id="user_stories">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="carousel_arrows user_stories_carousel_arrows">
            <div class="fa fa-arrow-left carousel_arrow user_stories_carousel_arrow_left"></div>
            <div class="fa fa-arrow-right carousel_arrow user_stories_carousel_arrow_right"></div>
          </div>

          <div class="user_stories_carousel">
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/gillian.jpg'></img>
                Gillian is PM of a SAAS platform.
                Gillian has some enterpsie clients
                that want to self host and she uses 
                Engines to power on prem
                instances of her software.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/charles.jpg'></img>
                Charles runs a growing IT services business.
                Charles has partnered with Engines so that
                he and his team can offer more tailored and
                ambitious solutions to their clients.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/anika.jpg'></img>
                Anika is an independent developer.
                She uses Engines to efficiently deliver
                production applications to clients, so she can focus
                on writing great code.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/dmitri.jpg'></img>
                Dimitri designs and commissions smart building
                control systems. He uses Engines because it
                allows him to easily run his software on
                clients' sites.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/dan.jpg'></img>
                Dan is an IT consultant with important SME clients.
                He uses Engines for building core IT services, including
                email, calendars, contacts, file sync and document collaboration.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/doug.jpg'></img>
                Doug is a machine learning expert. Engines makes it
                easy for Doug to deploy his custom machine learning
                software for research and client work.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          &nbsp;
        </div>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <p>Partners receive significant discounts
          on Engines System Licenses, for their own use
          or resale to clients.</p>

          <p>Become an Engines Partner today. Contact us at:
            <a href="mailto:partners@engines.org">partners@engines.org</a>
          </p>

        </div>
      </div>
    </div>
  </div>

</div>
