<div id="page">

  <div class="section" id="home">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4>Professional Edition</h4>
          <p>
            Engines Professional Edition is for
            deploying mission critical software.
          </p>
        </div>
        <div class="col-6">
          <div id="main_image_wrapper">
            <img src="/assets/images/server_racks.png" class="main_image">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section contrasting_colors" id="overview">
    <div class="container">
      <div class="row summary-icons">
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-cloud"></i><br>
            <small>On prem<br>or IAAS</small>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-diamond"></i><br>
            <small>Commercial<br>license</small>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="summary-icon">
            <i class="fa fa-life-ring"></i><br>
            <small>Technical<br>support</small>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <p>
            Engines gives you the tools that you need
            to deploy software easily, consistently
            and predictably.
          </p>

          <p>
            You can run commercial, proprietary and open source software.
            The Engines library publishes a range of
            applications that you can install with a click.
          </p>

          <p>
            If you have custom applications, Engines can run these too.
            Blueprints can be written for most types of software.
          </p>

          <p>
            You can run Engines anywhere: on prem, data center, IAAS or VM.
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="section contrasting_colors">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h4>
            <a href="mailto:sales@engines.org">sales@engines.org</a>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>Pricing</h4>
          <h5>Engines Professional Edition System Software</h5>
          <p>
            $399 per month
            for systems with up to 16GB RAM.<br>
            RAM in excess of 16GB,
            $199 per month for each additional 16GB.
          </p>
          <ul>
            <li>Commercial license</li>
            <li>10 technical support cases per month</li>
          </ul>
          <p class="text-center">
            <em>Free 30-day trial available. Please ask.</em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section contrasting_colors" id="user_stories">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="carousel_arrows user_stories_carousel_arrows">
            <div class="fa fa-arrow-left carousel_arrow user_stories_carousel_arrow_left"></div>
            <div class="fa fa-arrow-right carousel_arrow user_stories_carousel_arrow_right"></div>
          </div>

          <div class="user_stories_carousel">
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/linda.jpg'></img>
                As CIO, Linda cares about the productivity of her people.
                She use Engines to automate the repetitive aspects of environment configuration and software deployment.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/jonathan.jpg'></img>
                  Joanathan's startup uses Engines so the he and his
                  co-founder can quickly iterate their product and
                  continuously roll-out new features.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/terrance.jpg'></img>
                Terrance is head of sales. He uses
                Engines because it allows him to run
                the CRM solutions that he likes without creating
                problems for the IT department.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/sally.jpg'></img>
                Sally runs tools for automating
                business processes.
                She uses Engines to integrate open source
                software with custom web applications.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/sam.jpg'></img>
                Sam is a project manager. Sam uses Engines to run
                project management software, a project document
                management system, and a group messaging service.
              </p>
            </div>
            <div class="user_stories_carousel_slide">
              <p>
                <img src='assets/images/user_stories/finn.jpg'></img>
                Finn is a web designer. He uses Engines on IAAS for
                hosting the websites that he builds for his clients.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          &nbsp;
        </div>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

        </div>
      </div>
    </div>
  </div>


</div>
