<div id="page">

  <div class="section" id="home">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4>Technical Overview</h4>
          <p>
            Engines is designed to simplify the
            process of running multiple containerized applications
            on a single host.
          </p>
        </div>
        <div class="col-6">
          <div id="main_image_wrapper">
            <img src="/assets/images/logo_mechanical_drawing.png" class="main_image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section contrasting_colors">
    <div class="container">
      <div class="row">
        <div class="col-2 hidden-sm">
        </div>
        <div class="col-10">

          <p>
            <i class="fa fa-check-square-o"></i> Automatic configuration of services
          </p>
          <p>
            <i class="fa fa-check-square-o"></i> Cloud-native containers
          </p>
          <p>
            <i class="fa fa-check-square-o"></i> Continuous integration
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="section" >
    <div class="container">
      <p>The Engines System software uses Docker to deploy applications and services within sandboxed
        Linux containers. Software can be installed from source, or using
        pre-built Docker containers.</p>

        <p>When building from source, base images for a range frameworks,
          languages and application architectures are supported,
          including OpenJDK, Apache/PHP, Jetty, Tomcat, Sinatra, Meteor,
          Lua, Node, Python, Rails, RStudio and Base&nbsp;C.</p>

      <p>Engines provides a set of core services,
        including volumes, databases, certificates and backups.
        Service can be shared between containers, so
          that data and functionality can be made available across
          applications.</p>

    </div>

    </div>
  </div>

  <div class="section contrasting_colors">
    <div class="container">
      <div class="row">
        <div class="col-2 hidden-sm">
        </div>
        <div class="col-10">

          <p>
            <i class="fa fa-check-square-o"></i> Backup and restore
          </p>
          <p>
            <i class="fa fa-check-square-o"></i> Email and user management
          </p>
          <p>
            <i class="fa fa-check-square-o"></i> VPN, SSH, SSL
          </p>

        </div>
      </div>
    </div>
  </div>


  <div class="section" id="blueprints">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>Blueprints</h4>
          <p>A blueprint is a manifest that allows Engines to install and manage software.</p>
          <p>
            A blueprint.json specifies details such as source file locations, environment, replacement strings, templated files, service configurations, and schedules.
            <span data-modal="example_blueprint_json_modal" class="modal_button example_blueprint_modal_button">Here is an example</span>.
          </p>
          <p>Blueprints can be published in a library to give an app store-like installation experience, or provided via a URL for side-loading of software.</p>
        </div>
        <div class="col-12">
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="section contrasting_colors" id="studio">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4>Studio</h4>
          <p>The easiest way to produce a blueprint is to use the Engines Developer Studio.</p>
          <p>It provides a form-based GUI for defining the contents of blueprints.json files.</p>
        </div>
        <div class="col-6">
          <div class="studio_screenshots_carousel">
            <div class="studio_screenshots_carousel_slide text-center">
              <div data-modal="studio_screenshot1_modal" class="modal_button screenshot_modal_button"><img class="screenshot" src="/assets/images/screenshots/engines_developer_studio_1.png"></img></div>
            </div>
            <div class="studio_screenshots_carousel_slide text-center">
              <div data-modal="studio_screenshot2_modal" class="modal_button screenshot_modal_button"><img class="screenshot" src="/assets/images/screenshots/engines_developer_studio_2.png"></img></div>
            </div>
            <div class="studio_screenshots_carousel_slide text-center">
              <div data-modal="studio_screenshot3_modal" class="modal_button screenshot_modal_button"><img class="screenshot" src="/assets/images/screenshots/engines_developer_studio_3.png"></img></div>
            </div>
            <div class="studio_screenshots_carousel_slide text-center">
              <div data-modal="studio_screenshot4_modal" class="modal_button screenshot_modal_button"><img class="screenshot" src="/assets/images/screenshots/engines_developer_studio_4.png"></img></div>
            </div>
          </div>
          <div class="carousel_arrows studio_screenshots_carousel_arrows text-center">
            <div class="fa fa-arrow-left carousel_arrow studio_screenshots_carousel_arrow_left"></div>
            <div class="fa fa-arrow-right carousel_arrow studio_screenshots_carousel_arrow_right"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

        </div>
      </div>
    </div>
  </div>




</div>



<!-- Modals -->
<div id="modals">
  <div id="studio_screenshot1_modal" class="modal">
    <div class="modal-content">
      <div class="close"><i class="fa fa-times"></i></div>
      <div class="modal-content-body">
        <img src="/assets/images/screenshots/engines_developer_studio_1.png"></img>
      </div>
    </div>
  </div>
  <div id="studio_screenshot2_modal" class="modal">
    <div class="modal-content">
      <div class="close"><i class="fa fa-times"></i></div>
      <div class="modal-content-body">
        <img src="/assets/images/screenshots/engines_developer_studio_2.png"></img>
      </div>
    </div>
  </div>
  <div id="studio_screenshot3_modal" class="modal">
    <div class="modal-content">
      <div class="close"><i class="fa fa-times"></i></div>
      <div class="modal-content-body">
        <img src="/assets/images/screenshots/engines_developer_studio_3.png"></img>
      </div>
    </div>
  </div>
  <div id="studio_screenshot4_modal" class="modal">
    <div class="modal-content">
      <div class="close"><i class="fa fa-times"></i></div>
      <div class="modal-content-body">
        <img src="/assets/images/screenshots/engines_developer_studio_4.png"></img>
      </div>
    </div>
  </div>

  <div id="example_blueprint_json_modal" class="modal">
    <div class="modal-content">
      <div class="close"><i class="fa fa-times"></i></div>
      <div class="modal-content-body">
        <pre class="wrap_line"><%= @example_blueprint_json %></pre>
      </div>
    </div>
  </div>





</div>
