<div class="modal_button app_modal_button" data-modal="app_<%= app['id'] %>_modal">
  <div class="index_app">
    <div class="app_icon">
      <img src="<%= app['icon_url_small'] %>" alt="">
    </div>
    <div class="app_text">
      <div class="app_label">
        <%= app['label'] %>
      </div>
    </div>
  </div>
</div>
